.body {
  font-family: Open Sans; }

.ie9 .selector {
  border: 1px solid #000;
  width: 1px; }
.ie9 .col-md-8 {
  width: 66%;
  float: left; }
.ie9 .col-md-2 {
  width: 16%;
  float: left; }
.ie9 .tooltip-inner {
  background-color: #000;
  border-radius: 0;
  color: #fff;
  font-size: 12px;
  width: 17px;
  max-width: 320px;
  padding: 6px 5px;
  text-align: center;
  text-decoration: none;
  z-index: 99999999; }
.ie9 .tooltip.top .tooltip-arrow {
  border-top-color: #000;
  border-width: 12px 12px 0;
  bottom: 0;
  left: 50%;
  margin-left: -12px; }
.ie9 .moduleButtonContainer {
  width: 50px;
  height: 125px; }
.ie9 .maxMin {
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
  height: 100%;
  margin: 0 auto;
  width: 33%; }
.ie9 .sliderScale {
  border-left: 1px solid #000;
  height: 100%;
  margin: 0 auto;
  width: 1px; }
.ie9 .scaleMiddle {
  border-top: 1px solid #000;
  bottom: 50%;
  height: 1px;
  left: 27%;
  position: relative;
  width: 50%; }
.ie9 .slider {
  background: url();
  border-left: 0;
  width: 100%; }
  .ie9 .slider .handleStyle {
    background: url() repeat scroll 0 0 transparent;
    border: 0 none;
    border-radius: 0;
    color: #000;
    height: 5px;
    left: 0;
    width: 30px; }
    .ie9 .slider .handleStyle:hover {
      background: url();
      border: 0;
      color: #000; }
    .ie9 .slider .handleStyle:focus {
      outline: none; }
.ie9 .sliderColumn {
  display: inline-block; }
.ie9 .sliderSpacer {
  width: 8.06%;
  display: inline-block; }
.ie9 .sliderContainer {
  display: inline-block;
  height: 125px;
  list-style: outside none none;
  margin: 0 auto;
  padding: 0 15px;
  width: 35px; }
.ie9 .factorIcon {
  border-radius: 20px;
  width: 30px;
  height: 30px; }
.ie9 .overlayDiv {
  border-radius: 20px;
  position: relative;
  z-index: 999999; }
.ie9 #moduleButton0 {
  border: 2px solid #883682; }
  .ie9 #moduleButton0 .overlayDiv0 {
    height: 0;
    margin: 13px 0 0 13px;
    width: 0; }
  .ie9 #moduleButton0 .overlayDiv1 {
    height: 5px;
    margin: 13px 0 0 13px;
    width: 5px;
    background-color: #883682; }
  .ie9 #moduleButton0 .overlayDiv2 {
    height: 8px;
    margin: 11px 0 0 12px;
    width: 8px;
    background-color: #883682; }
  .ie9 #moduleButton0 .overlayDiv3 {
    height: 14px;
    margin: 8px 0 0 8px;
    width: 14px;
    background-color: #883682; }
  .ie9 #moduleButton0 .overlayDiv4 {
    height: 22px;
    margin: 4px 0 0 4px;
    width: 22px;
    background-color: #883682; }
  .ie9 #moduleButton0 .overlayDiv5 {
    height: 30px;
    width: 30px;
    background-color: #883682; }
.ie9 #moduleButton1 {
  border: 2px solid #1f74c9; }
  .ie9 #moduleButton1 .overlayDiv0 {
    height: 0;
    margin: 13px 0 0 13px;
    width: 0; }
  .ie9 #moduleButton1 .overlayDiv1 {
    height: 5px;
    margin: 13px 0 0 13px;
    width: 5px;
    background-color: #1f74c9; }
  .ie9 #moduleButton1 .overlayDiv2 {
    height: 8px;
    margin: 11px 0 0 12px;
    width: 8px;
    background-color: #1f74c9; }
  .ie9 #moduleButton1 .overlayDiv3 {
    height: 14px;
    margin: 8px 0 0 8px;
    width: 14px;
    background-color: #1f74c9; }
  .ie9 #moduleButton1 .overlayDiv4 {
    height: 22px;
    margin: 4px 0 0 4px;
    width: 22px;
    background-color: #1f74c9; }
  .ie9 #moduleButton1 .overlayDiv5 {
    height: 30px;
    width: 30px;
    background-color: #1f74c9; }
.ie9 #moduleButton2 {
  border: 2px solid #fdc732; }
  .ie9 #moduleButton2 .overlayDiv0 {
    height: 0;
    margin: 13px 0 0 13px;
    width: 0; }
  .ie9 #moduleButton2 .overlayDiv1 {
    height: 5px;
    margin: 13px 0 0 13px;
    width: 5px;
    background-color: #fdc732; }
  .ie9 #moduleButton2 .overlayDiv2 {
    height: 8px;
    margin: 11px 0 0 12px;
    width: 8px;
    background-color: #fdc732; }
  .ie9 #moduleButton2 .overlayDiv3 {
    height: 14px;
    margin: 8px 0 0 8px;
    width: 14px;
    background-color: #fdc732; }
  .ie9 #moduleButton2 .overlayDiv4 {
    height: 22px;
    margin: 4px 0 0 4px;
    width: 22px;
    background-color: #fdc732; }
  .ie9 #moduleButton2 .overlayDiv5 {
    height: 30px;
    width: 30px;
    background-color: #fdc732; }
.ie9 #moduleButton3 {
  border: 2px solid #e2282f; }
  .ie9 #moduleButton3 .overlayDiv0 {
    height: 0;
    margin: 13px 0 0 13px;
    width: 0; }
  .ie9 #moduleButton3 .overlayDiv1 {
    height: 5px;
    margin: 13px 0 0 13px;
    width: 5px;
    background-color: #e2282f; }
  .ie9 #moduleButton3 .overlayDiv2 {
    height: 8px;
    margin: 11px 0 0 12px;
    width: 8px;
    background-color: #e2282f; }
  .ie9 #moduleButton3 .overlayDiv3 {
    height: 14px;
    margin: 8px 0 0 8px;
    width: 14px;
    background-color: #e2282f; }
  .ie9 #moduleButton3 .overlayDiv4 {
    height: 22px;
    margin: 4px 0 0 4px;
    width: 22px;
    background-color: #e2282f; }
  .ie9 #moduleButton3 .overlayDiv5 {
    height: 30px;
    width: 30px;
    background-color: #e2282f; }
.ie9 #moduleButton4 {
  border: 2px solid #4fbd55; }
  .ie9 #moduleButton4 .overlayDiv0 {
    height: 0;
    margin: 13px 0 0 13px;
    width: 0; }
  .ie9 #moduleButton4 .overlayDiv1 {
    height: 5px;
    margin: 13px 0 0 13px;
    width: 5px;
    background-color: #4fbd55; }
  .ie9 #moduleButton4 .overlayDiv2 {
    height: 8px;
    margin: 11px 0 0 12px;
    width: 8px;
    background-color: #4fbd55; }
  .ie9 #moduleButton4 .overlayDiv3 {
    height: 14px;
    margin: 8px 0 0 8px;
    width: 14px;
    background-color: #4fbd55; }
  .ie9 #moduleButton4 .overlayDiv4 {
    height: 22px;
    margin: 4px 0 0 4px;
    width: 22px;
    background-color: #4fbd55; }
  .ie9 #moduleButton4 .overlayDiv5 {
    height: 30px;
    width: 30px;
    background-color: #4fbd55; }
.ie9 .tooltip.right .tooltip-arrow {
  border-right-color: #000;
  border-width: 12px 12px 12px 0;
  left: 0;
  margin-top: -12px;
  top: 50%; }

ie9.fillerDiv25 {
  height: 25%; }

#sliderColumn0 .handleStyle {
  background-color: #fff;
  border-bottom: 3px solid #883682;
  border-top: 3px solid #883682; }

#sliderColumn1 .handleStyle {
  background-color: #fff;
  border-bottom: 3px solid #1f74c9;
  border-top: 3px solid #1f74c9; }

#sliderColumn2 .handleStyle {
  background-color: #fff;
  border-bottom: 3px solid #fdc732;
  border-top: 3px solid #fdc732; }

#sliderColumn3 .handleStyle {
  background-color: #fff;
  border-bottom: 3px solid #e2282f;
  border-top: 3px solid #e2282f; }

#sliderColumn4 .handleStyle {
  background-color: #fff;
  border-bottom: 3px solid #4fbd55;
  border-top: 3px solid #4fbd55; }

#sliderColumn5 .handleStyle {
  background-color: #fff;
  border-bottom: 3px solid #883682;
  border-top: 3px solid #883682; }

/*# sourceMappingURL=styleIE9.css.map */
